# compiled output
/dist
/node_modules

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# .env file
.env

# lock file
yarn.lock
tsconfig.lib.tsbuildinfo

# Secret service keys
src/keys/*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace